body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: beige;



}
h1 {
  font-weight: lighter;
  font-size: 50px;
  font-style: oblique;
  background-color: lightgray;
}
.inputSection {
  margin: 50px 50px 80px 50px;
  width: 350px;
}
.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 20px;
  margin-bottom: 20px;
}
.addOption {
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  margin-top: 20px;
}
button {
  color: purple;
  border-radius: 8px;
  width: 100px;
}
